# IDE
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Outputs & experiments
outputs_tsp/
outputs/
experiments/
results/

# Environment
.env
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
